div{
    width: 50%;
    margin-left: 25%;
}

h2{
    margin-left: 1%;
}

#lname{
    margin-left: 3%;
    width: 60%;
}

#wname{
    margin-left: 3%;
    width: 60%;
}

button{
    float: right;
    margin-right: 35%;
}

h3, select{
    margin-left: 2%;
    line-height: 10%;
}

select{
    width: 40%;
}